
body{
  padding: 106px 0px 0px 0px;
  font-family: roboto;
  align-items: center;
  row-gap: 50px;
  background-color: rgb(255,255,250);
}

.mainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  row-gap: 40px;
}


.largeBackground{
  position: relative;
  display: flex;
  background-color: black;
  width: 100%;
}

.largeBackground > img{
  width: 100%;
  opacity: 0.7;
}

.lBDiv{
  display: flex;
  color: white;
  width: 75%;
  font-size: 3vw;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 10px;
}

.lBD-button{
  padding: 15px 0px 0px 0px;
}

.lBD-button > button{
  padding: 8px 20px;
  background-color: orangered;
  font-size: 2vw;
  color: white;
  border: none;
  border-radius: 3px;
  transition: font-size 0.15s, padding 0.15s, margin 0.15s;
}.lBD-button > button:hover{
  padding: 11px 22px;
  margin-left: -6px;
  font-size: 3vw;
}

.ourProduct{
  font-size: 3vw;
  font-weight: bold;
}

.ingredientsRow{
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  scrollbar-width: none;
  overflow: auto;
}

.firstIR{
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.firstIR > div > img{
  width: 100px;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}














.orangeAspect{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 226, 216, 0.9);
  justify-content: center;
  row-gap: 5px;
  width: 96.85%;
  padding: 10px;
}

.featuredProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topOA,
.newRelease-top,
.featuredProducts-top,
.bestSellers-top{
  display: flex;
  flex-direction: row;
  color: orange;
  font-size: 2.1vw;
  align-items: center;
  padding: 0px 10px 0px 10px;
  justify-content: space-between;
}

.deals,
.nRR-text,
.fPT-text{
  font-weight: bold;
  color: black;
  font-size: 2.5vw;
}


.bottomOA{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomOA-Left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  row-gap: 20px;
  font-size: 2.5vw;
}

.bottomOA-LeftTop{
  text-align: justify;
}

.bottomOA-LeftBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  font-weight: bold;
}.bottomOA-LeftBottom > div{
  color: white;
  background-color: gold;
  font-size: 4vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px 4px 4px;
  border-radius: 8px;

}


.bottomOA-Right{
  display: flex;
  flex-direction: row;
  scrollbar-Width: none;
  overflow: auto;
  padding: 0px 0px 0px 10px;
  width: 50%;
  background-color: rgb(250, 250, 250);
  column-gap: 10px;
}

/*.bottomOA-RightFirst{
  padding: ;
}*/

.bottomOA-RightFirst{
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 0px;
  row-gap: 4px;
  background-color: white;
}


nRB-firstImage{
  width: 100%;
}

.bottomOA-RImage > img,
.nRB-firstImage > img,
.fPB-Image > img,
.bSB-image > img{
  width: 100%;
}

.bottomOA-RText,
.fPB-Text,
.nRB-Text,
.bSB-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*text-align: justify;*/
}



.newReleaseRow{
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  row-gap: 15px;
}

.newRelease-bottom{
  display: flex;
  padding: 0px 0px 0px 10px;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  scrollbar-width: none;
  overflow: auto;
}

/*.featuredProducts{
  width: 100%;
}*/


.featuredProducts-bottom{
  display: grid;
  width: 100%;
  padding: 0px 0px 0px 20px;
  align-items: first baseline;
  margin: 20px 0px 0px 0px;
  column-gap: 20px;
  row-gap: 30px;
  scrollbar-width: none;
  overflow: auto;
  grid-template-columns: repeat(4, 1fr);
}

.fPB-first{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bestSellers{
  width: 100%;
}
.bestSellers-bottom{
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  overflow: auto;
  column-gap: 20px;
}

.manyAwaits{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,165,0,0.4);
  padding: 15px;
  row-gap: 15px;
}

.mA-bottom{
  flex-direction: row;
  display: flex;
  scrollbar-width: none;
  overflow: auto;
  column-gap: 25px;
}

.mA-bottom > div > img{
 width: 100%;
}

.secondMainImage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
  row-gap: 40px;
  
}

.sMI-image{
  width: 100%;
  height: 100%;
  display: flex;
}

.sMI-image > img{
  max-width: 100%;
  object-fit: cover;
}

.sMI-textSide{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.about{
  font-size: 3vw;
  font-weight: 600;
}

.sMI-textSide > p{
  text-align: justify;
}



.button1 > button{
  color: white;
  font-size: 2.5vw;
  background-color: orange;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  transition: padding 0.15s , font-size 0.15s , margin 0.15s;
}.button1:hover > button{
  padding: 12px 27px;
  font-size: 2.9vw;
  margin: -2px 0px -4px 0px;
}

button:hover{
  cursor: pointer;
}


.brandFeatures{
  display: flex;
  flex-direction: row;
  align-items: first baseline;
}

.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
  width: 40%;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.f-image{
  background-color: rgb(255, 166, 0, 0.15);
  border-radius: 9999px;
  padding: 45px 50px;
}

.f-image > img{
  width: 27px;
}

.f-feature{
  font-weight: 600;
  font-size: 2.15vw;
}

.f-text{
  text-align: center;
}


.lastDiv{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 18px 10px;
  color: white;
  background-color: rgb(3, 3, 43);
}

.lD-first{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  row-gap: 15px;
}
.lDF-top{
  font-size: 2vw;
  word-wrap: nowrap;
}

.lDF-input{
  width: 100%;
}
.lDF-input > input{
  width: 100%;
  padding: 5px;
}

.lDF-button > button{
  padding: 5px 40px;
  font-size: 2vw;
  background-color: rgb(255, 94, 0);
  border: none;
  border-radius: 4px;
  color: white;
  transition: padding 0.15s , margin 0.15s , font-size 0.15s;
}.lDF-button > button:hover{
  padding: 7px 45px;
  margin: -2px -5px;
}

.linee{
  width: 70%;
  height: 1px;
  border: none;
  background-color: rgb(255, 255, 255, 0.6);
}

.lD-second{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 0px rgb(255, 0, 0);
  justify-content: space-between;
}

.lDS-left{
  display: flex;
  box-shadow: 0px 0px 0px rgb(255, 0, 0);
  width: 40%;
  row-gap: 50px;
  flex-direction: column;
}

.lDSL-top{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 1.9vw;
}

.lDSLT-bottom{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.lDSLTB-image{
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 12px 20px;
  border-radius: 999px;
}

.lDSLTB-image > img{
  width: 17px;
  max-width: 100%;
}

.lDSL-bottom{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.lDSLB-top{
  font-size: 2vw;
}

.lDSLB-bottom{
  display: flex;
  flex-direction: row;
  column-gap: 2.5px; 
}


.lDSLBB-left > img{
  width: 86px;
}

.lDSLBB-right{
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 50%;
}

.google{
  background-color: white;
  padding: 9px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}
.google > img{
  max-width: 100%;
}

.apple{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  padding: 4.5px;
}
.apple1{
  width: 100%;
}

.apple1 > img{
  width: 100%;
}

.lDS-right{
  display: flex;
  flex-direction: row;
  width: 60%;
  padding: 0px;
  justify-content: space-evenly;
}

.lDSR-fColumn,
.lDSR-sColumn,
.lDSR-tColumn{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px rgb(255, 4, 238);
  row-gap: 5px;
}


.colDiv{
  font-weight: 700;
  margin: 0px 0px 0px -10px;
}

.colUl{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.colUl > div{
 white-space: nowrap;
 font-size: 1.2vw;
}





.ratingStars{
  display: flex;
  justify-content: center;
}
.ratingStars > img{
  max-width: 50%;
}



@media   screen and (max-width: 767.9px) and (min-width: 310px){

  body{
    font-size: 3vw;
    display: flex;
    padding: 99px 0px 0px 0px;
  }

  .lBDiv{
    font-size: 3vw;
  }

  .mainDiv{
    box-shadow: 0px 0px 0px rgb(255, 0, 0);
  }

  .orangeAspect{
    width: 94%; 
  }

  .bottomOA-RImage > img,
  .nRB-firstImage > img,
  .fPB-Image > img,
  .bSB-image > img{
    width: 110px;
  }

  .bottomOA-LeftBottom > div{
    font-size: 6vw;
  }

  .bottomOA-Right{
    align-items: center;
  }



  .featuredProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .featuredProducts-top{
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  .featuredProducts-bottom{
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 0px rgba(0,0,0,1);
  }

  .brandFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }

  .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9px;
    width: 100%;
  }

  .mA-bottom > div{
    width: 100%;
  }


  .lD-second{
    flex-direction: column;
    row-gap: 50px;
  }


    
  .lDS-left{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .lDSL-top{
    align-items: center;
    font-size: 5vw;
  }


  .lDSLTB-image{
    padding: 12px 24px;
  }

  .lDSLTB-image > img{
    width: 25px;
    max-width: 100%;
  }

  .lDSL-bottom{
    width: 100%;
    align-items: center;
  }

  .lDSLB-top{
    font-size: 5vw;
  }

  .lDSLB-bottom{
    align-items: center;
  }

  .lDSLBB-left {
    display: flex;
    width: 50%;
  }

  .lDSLBB-left > img{
    width: 100%;
  }

 

  .google{
    padding: 15px;
  }


  .apple{
    padding: 14px;
  }
  .apple1{
    width: 100%;
  }

  .lDS-right{
    width: 100%;
    justify-content: space-between;
    padding: 0px 0px 0px  5px;
  }

  .colDiv{
    font-weight: 700;
    margin: 0px 0px 0px -10px;
  }

  .colUl{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .colUl > div{
  font-size: 2.35vw;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1023.9px){



  .lBDiv{
    top: 20px;
    font-size: 3vw;
    left: 10px;
    column-gap: 20px;
  }


  .ingredientsRow{
   justify-content: center;
  }


  .bottomOA-Left{
    align-items: center;
  }

  .featuredProducts-top{
    width: 100%;
  }

  .featuredProducts-bottom{
    padding: 0px 0px 0px 20px;
    grid-template-columns: repeat(3,1fr);
  }

  .fPB-Text{
    font-size: 2vw;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1440px){


  body{
    font-size: 1.4vw;
    padding: 100px 0px 0px 0px;
  }

  .ingredientsRow{
    justify-content: space-evenly;
    column-gap: 30px;
  }

  .firstIR{
    width:  100%;
    justify-content: center;
  }

  .firstIR > div {
    width: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .firstIR > div > img{
    width: 100%;
  }



  .bottomOA-Left{
    align-items: center;
  }

  .bottomOA-Right{
    justify-content: space-between;
    padding: 0px;

  }

  .bottomOA-RightFirst{
    font-size: 2vw;
    width: 20%;
  }


  .featuredProducts-top{
    width: 100%;
  }




  .lDF-top{
    font-size: 1.6rem;
  }

  .lDF-input > input{
    font-size: 1.3rem;
  }


  .lD-second{
    justify-content: space-evenly;
  }

  .lDS-left{
    width: 40%;
  }



  .lDS-right{
    width: 50%;
  }


}


