@media screen and ( max-width: 500px) and ( min-width: 425px){
 body{
  font-family: arial;
  cursor: default;
  width: 96vw;
  height: 96vh;
  font-size: 14px;
  padding: px 0px 0px 0px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-attachment: fixed;*/
}

.topDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap:20px;
  position: fixed;
  font-size: 12.5px;
  top:0px;
  right: 0px;
  left: 0px;
  padding: 5px 0px 13px 0px;
  color: whitesmoke;
  align-items: center;
  background-color: rgb(5, 19, 54);
  z-index: 2;
}

.top-section{
  display: inline-flex;
  box-shadow: 0px 0px 0px rgb(236, 0, 0);
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 15px 0px 0px;
  width: 100%;
  }

.top-section > div{
  color: white;
  display:flex;
  flex-direction:row;
  
}

.angledDraw{
  border-right:2px solid;
  border-bottom: 2px solid;
  margin: 3px 0px 0px 0px;
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
}

.angledDraw:hover{
   opacity: 0.7;
   cursor: pointer;
}




.middle-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.middle-section > div{
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 1);
  font-size: 25px;
  font-weight: bold;
}

.search-bar{
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search-bar > input{
  width: 40%;
  max-width: 500px;
  min-width: 100px;
  height: 30px;
  background: linear-gradient(to right,white , white, grey,grey);
  background-size: 150% 150%;
  animation: gradient 4s ease infinite;
  border-radius: 9px;
  padding: 0px 10px 0px 10px;
  color: grey;
  border: none;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.three-line-div{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  height:100%;
  margin: 0px -10px 0px 0px;
  height: 30px;
  z-index: 2;
  background: linear-gradient(to right , white ,whitesmoke);
  background-size: 150% 150%;
  animation: gradient 4s ease infinite;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  transition: opacity 0.15s;
}

.three-line-div > svg:hover{
  opacity: 0.8;
}


.search-icon{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  height:100%;
  margin: 0px 0px 0px -07px;
  height: 30px;
  z-index: 2;
  background: linear-gradient(to right , grey);
  background-size: 150% 150%;
  animation: gradient 4s ease infinite;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  transition: opacity 0.15s;
}
.search-icon > svg:hover{
  opacity: 0.8;
}


.middle-section > .icons > div > svg{
  width: 25px;
  height: 25px;
  fill: transparent;  
  stroke: white; /* Border color */
  stroke-width: 1px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.middle-section > .icons > div:hover{
  opacity:0.7; /* Fill color on hover */
}

.icons{
  display: flex;
  column-gap: 10px;
  margin: 0px 30px 0px 0px;
}



.bottom-section{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.bottom-section > div{
  flex-direction: row;
  display:flex;
}
.bottom-section > div:hover{
  opacity: 0.8;
}







.mainDiv{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 100%;
  box-shadow: 0px 0px px rgba(0,0,0,1) ;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}


.first-div{
  display: -inlineflex;
  flex-direction: column;
  width: 95.1%;
  padding: 0px 0px 10px 30px;
  background-color: white;
}


.first-div > div > h2{
  font-size: 21px;
  color: rgb(51, 84, 2);
}

.first-div > div > h5{
  margin-top: -1.5%;
}



.second-div{
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(255, 119, 0, 0.15);
  padding: 0px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-div > div > div > input{
   width: 300px;
   max-width: 400px;
   min-width: 100px;
   padding: 4px;
   border-color: rgb(231, 139, 0);
   border-width: 1px;
   border-style: solid;
}

.changer{
  display: inline-flex;
  position: absolute;
  right: 10px;
  top: 2px;
  align-items: center;
  justify-content: center;
  box-shadow:0px 0px 0px rgba(0,0,0,1);
  color: whitesmoke;
}
.changer > svg{
  width: 20px;
 height: 20px;
  color: whitesmoke;
  fill: grey;
}
.changer > svg:hover{
  fill-opacity: 0.8;
}
.changer > svg:active{
  fill-opacity: 0.5;
}



.second-div > div > div > button{
  padding: 3.5px 15px;
  border-radius: 4px;
  border: none;
  background-color: orangered;
  color: whitesmoke;
  transition: padding 0.15s , margin 0.15s;
}

.second-div > div > div > button:hover{
  padding: 9px 19px;
  margin: -5px -4px;
}
























.bottomDiv{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  font-size: 12.5px;
  bottom:0px;
  right: 0px;
  left: 0px;
  padding: 5px 0px 5px 0px;
  color: whitesmoke;
  align-items: center;
  background-color: rgb(5, 19, 54);
  z-index: 2;
}

.bottomText{
  display: inline-flex;
  flex-direction: row;
  margin: 4px 0px 4px 0px;
  column-gap: 10px;
}
.bottomText > div:hover{
  text-decoration: underline;
  cursor: pointer;
}

.line{
  width: 70%;
  max-width: 500px;
  border-color: rgb(133, 163, 237);
  border-radius: 999px;
}
}





















































