@media screen and (min-width: 500px){
  body{
  font-family: arial;
  cursor: default;
  width: 96vw;
  height: 100vh;
  font-size: 12px;
  padding: 5px 0px 0px 0px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-attachment: fixed;*/
}









.mainDiv{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 100%;
  box-shadow: 0px 0px px rgba(0,0,0,1) ;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}


.first-div{
  display: -inlineflex;
  flex-direction: column;
  width: 95.1%;
  padding: 0px 0px 10px 30px;
  background-color: white;
}


.first-div > div > h2{
  font-size: 21px;
  color: rgb(51, 84, 2);
}

.first-div > div > h5{
  margin-top: -1.5%;
}



.second-div{
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(255, 119, 0, 0.15);
  padding: 0px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-div > div > div > input{
   width: 300px;
   max-width: 400px;
   min-width: 100px;
   padding: 4px;
   border-color: rgb(231, 139, 0);
   border-width: 1px;
   border-style: solid;
}

.changer{
  display: inline-flex;
  position: absolute;
  right: 10px;
  top: 2px;
  align-items: center;
  justify-content: center;
  box-shadow:0px 0px 0px rgba(0,0,0,1);
  color: whitesmoke;
}
.changer > svg{
  width: 20px;
 height: 20px;
  color: whitesmoke;
  fill: grey;
}
.changer > svg:hover{
  fill-opacity: 0.8;
}
.changer > svg:active{
  fill-opacity: 0.5;
}



.second-div > div > a > button{
  padding: 3.5px 15px;
  border-radius: 4px;
  border: none;
  background-color: orangered;
  color: whitesmoke;
  transition: padding 0.15s , margin 0.15s;
}

.second-div > div > a > button:hover{
  padding: 9px 19px;
  margin: -5px -4px;
}
























.bottomDiv{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  font-size: 12.5px;
  bottom:0px;
  right: 0px;
  left: 0px;
  padding: 5px 0px 5px 0px;
  color: whitesmoke;
  align-items: center;
  background-color: rgb(5, 19, 54);
  z-index: 2;
}

.bottomText{
  display: inline-flex;
  flex-direction: row;
  margin: 4px 0px 4px 0px;
  column-gap: 10px;
}
.bottomText > div:hover{
  text-decoration: underline;
  cursor: pointer;
}

.line{
  width: 70%;
  max-width: 500px;
  border-color: rgb(133, 163, 237);
  border-radius: 999px;
}
}