@media screen and (max-width: 768px) and ( min-width: 425px){
 body{
  font-family: roboto;
  font-size: 15px;
  background: linear-gradient(60deg black,white,grey,black);
  width: 97vw;
  height: 90vh;
  justify-content: center;
  display: flex;
}

.mainDiv{
 /*background-color: rgb(211, 211, 211);*/
 display: inline-flex;
 max-width: 80%;
 flex-shrink: 1;
 height: auto;
 box-shadow: 0px 0px 0px rgba(0,0,0,1);
 align-items: center;
 margin: 0px 0px 0px 0px;
 justify-content: center;
}

.rahba{
  display: inline-flex;
  flex-direction: column;
  color: white;
  align-items: center;
  position: fixed;
  top: -20px;
  left:0px;
  right:0px;
  justify-content: center;
  width: 100vw;
  height:10vh;
  background-color: rgb(16, 16, 43);

}


.mainBody{
  display: flex;
  width: 95%;
  height: auto;
  max-width: 768px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color:black;
  row-gap: 10px;
  margin: 0px 0px 0px 0px;
  padding: 10px;
  box-shadow: 0px 0px 0px rgb(220, 5, 5);
}


.top-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  padding: 3% 0px 0px 0px;
  box-shadow:0px 0px 0px rgba(0,0,0,1);
  transition: opacity 0.15s;
}

.top-section > div > div{
 transition: opacity 0.15s;
}


.top-section > div > div:active{
  opacity: 1;
}

.line21{
 border-color: rgb(241, 128, 87);
 width: 60%;
 display: inline-flex;
 justify-content: center;
 align-items: center;
}
.line22{
 border-color: rgb(241, 128, 87);
 width: 60%;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 visibility: hidden;
}

.top-section > div > .line22{
 transition: visibility 0.1s;
}

.top-section > div:active > .line22{
 visibility: visible;
}

.inputs{
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.inputs > div > input{
  border-color: rgb(241, 128, 87) ;
  border-width: 1px;
  display:inline-flex;
  padding:6px 10px;
  border-style: solid;
  border-radius: 3px;
  height: auto;
  width: 100%;
  font-size: 17px;
  visibility: visible;
}

.changer{
  display: inline-flex;
  position: absolute;
  right: 10px;
  align-items: center;
  justify-content: center;
  box-shadow:0px 0px 0px rgba(0,0,0,1);
  color: whitesmoke;
}
.changer > svg{
  width: 20px;
 height: 20px;
  color: whitesmoke;
  fill: grey;
}
.changer > svg:hover{
  fill-opacity: 0.8;
}
.changer > svg:active{
  fill-opacity: 0.5;
}

.inputs > div{
  display: inline-flex;
  width:100%;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}



.check{
  color: rgb(241, 128, 87);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  font-size: 100%;
  height: auto;
  column-gap: 40%;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.signIn{
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  display: inline-flex;
}

.signIn > button{
  background-color: rgb(219, 79, 28);
  color: white;
  border: none;
  border-radius: 2px;
  padding:5px 50px;
  font-size: 13px;
  transition: padding 0.15s , margin 0.15s;
}
.signIn > button:hover{
  padding:10px 60px;
  margin: -5px -60px;
}

.Orcontinue{
  display: inline-flex;
  flex-direction: row;
  font-weight: bold;
  column-gap: 8px;
  white-space: nowrap;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}


.line3{
 border-color: rgb(241, 128, 87);
 width: 30%;
 height: auto;
 background-color: rgb(241, 128, 87);
 border-radius: 5px;
 border-style: solid;
 display: inline-flex;
 border-width: 1px;
}


.meta{
display: inline-flex;
flex-direction: row;
width: 100%;
height: auto;
justify-content: center;
align-items: center;
column-gap: 10.5%;
box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.svg{
  width: 30px;
  height: 30px;
  display: inline-flex;
  margin:0px 0px 0px 0px;
  box-shadow: 0px 0px 0px rgb(240, 24, 24);
  cursor: pointer;
}

.facebook{
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
  border-radius: 999px;
  display: inline-flex;
  padding: 0px 0px 0px 0px;
}

.twitter{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 200, 255);
  border-radius: 999px;
  width:30px;
  height:30px;
}
.twitter > svg{
  width: 19px;
  height: 19px;
}

.apple{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  border-radius: 999px;
  width:30px;
  height:30px;
}
.apple > svg{
  width: 19px;
  height: 19px;
  display: inline-flex;
  margin: -1px 0px 0px -1px;
}

.textBelow{
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  font-size: 11px;
  box-shadow: 0px 0px 0px rgba(0,0,0,1);
}



.bottomDiv{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  font-size: 12.5px;
  bottom:0px;
  right: 0px;
  left: 0px;
  white-space: nowrap;
  padding: 5px 0px 5px 0px;
  color: whitesmoke;
  align-items: center;
  background-color: rgb(5, 19, 54);
}

.bottomText{
  display: inline-flex;
  flex-direction: row;
  margin: 4px 0px 4px 0px;
  column-gap: 10px;
}
.bottomText > div:hover{
  text-decoration: underline;
  cursor: pointer;
}

.line{
  width: 70%;
  max-width: 500px;
  border-color: rgb(133, 163, 237);
  border-radius: 999px;
}

}